@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  background-color: #1b1d1e;
  color: #e0e0e0;
  margin: 0;
  padding: 20px;
}

.warframe-tracker {
  max-width: 800px;
  margin: 0 auto;
}

.task-lists {
  display: flex;
  justify-content: space-between;
}

.task-list {
  width: 48%;
}

.task {
  background-color: #77708b;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-gray-800 {
  background-color: #17161b;
}

.bg-blue-500 {
  background-color: #63c1aa;
}

.bg-red-500 {
  background-color: #955a64;
}

.bg-green-500 {
  background-color: #416859;
}

.high-interest {
  color: #ffd700;
}

.low-interest {
  color: #c0c0c0;
}

.location {
  font-style: italic;
  color: #4e4951;
}

.add-task input, .add-task select, .add-task button {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #7f868b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #4e4951;
}